1 VERSIONINFO
FILEVERSION 1,0,0,19
PRODUCTVERSION 2,3,4,5

BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 0x4b0
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "Comments", "Here is Comments\0"
            VALUE "CompanyName", "Kinggrid Technology Corp.,Ltd\0"
        #ifdef WIN64
            VALUE "FileDescription", "knetwork x64\0"
        #else
            VALUE "FileDescription", "knetwork x86\0"
        #endif
            VALUE "FileVersion", "1,0,0,19\0"
            VALUE "InternalName", "Here is InternalName\0"
            VALUE "LegalCopyright", "Copyright(c) Kinggrid\0"
            VALUE "LegalTrademarks", "knetwork"
            VALUE "OriginalFilename", "knetwork.dll"
            //VALUE "PrivateBuild", "Here is PrivateBuild\0"
            VALUE "ProductName", "knetwork\0"
            VALUE "ProductVersion", "1,0,0,19\0"
            //VALUE "SpecialBuild", "Here is SpecialBuild\0"
        END
    END
END
